@model LoginViewModel

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
            <h3>Login Successful Failed:</h3></br>
            <p>Username or Password incorrect!</p>
			<div class="form-group">
                <a class="btn btn-primary" href="http://localhost:5000/" role="button">Try Again</a>
            </div> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
